body, html {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    overflow-x: hidden;
}

nav {
    background: #3b5998;
    height: 62px;
    overflow: hidden;
}

nav ul {
    list-style: none;
    margin-top: 8px; 
}

nav a {
    text-decoration: none;
    padding: 14px 16px;
    display: block;
    float: left;
    color: #f2f2f2;
    text-align: center;    
}

nav a:hover {
    background: #ddd;
    color: #000;
}

.sidebar {
    height: 100%;
    background: #111;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding-top: 60px;
    opacity: 0.9;
    width: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar a {
    text-decoration: none;
    display: block;
    font-size: 22px;
    color: #ccc;
    padding: 12px 14px;
}

.sidebar .btn-close {
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px;
}

.sidebar a:hover {
    color: #fff;
}

#main {
    padding: 20px;
    transition: margin-left 0.5s;
    overflow: hidden;
    width: 100%;
}